Back-end level/Web-Services-and-Cloud/1.WebServicesSOAandREST/DistanceCalculatorClient/Service References/ServiceReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60028/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/DistanceCalculatorSOAPService" />
  <xs:element name="CalcDistance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/DistanceCalculatorSOAPService" minOccurs="0" name="startPoint" nillable="true" type="q1:Point" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/DistanceCalculatorSOAPService" minOccurs="0" name="endpPoint" nillable="true" type="q2:Point" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CalcDistanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CalcDistanceResult" type="xs:float" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>